::deep .most-relevant-titles {
    font-family: Berlin Sans FB;
    font-size: 24px;
    font-weight: 400;
    line-height: 22px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}

::deep .mud-grid-item .mud-paper .title-name {
    font-family: Berlin Sans FB;
    font-size: 24px;
    font-weight: 400;
    line-height: 22px;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    text-align: left;
    margin-top: 6px;
    display: -webkit-box;
    -webkit-line-clamp: 3; 
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
}

::deep .see-all {
    font-family: Berlin Sans FB;
    font-size: 24px;
    font-weight: 400;
    line-height: 22px;
    text-align: right;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    white-space: nowrap;
}

::deep .mud-grid-item .mud-paper .title-genres, {
    font-family: IBM Plex Sans;
    font-size: 12px;
    font-weight: 400;
    line-height: 15.6px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}

.movie-image {
    border-radius: 12px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.movie-image:hover {
    transform: scale(1.05);
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.7);
}

::deep .mud-grid-item .mud-paper .title-name,
::deep .mud-grid-item .mud-paper .title-genres,
::deep .see-all,
::deep .most-relevant-titles {
    position: relative;
    z-index: 2;
    color: var(--mud-palette-tertiary-text) !important;
}

::deep .mud-paper {
    background-color: transparent;
}

::deep .mud-badge-overlap {
    color: var(--mud-palette-tertiary-text) !important;
}