@page "/"

@using MudBlazor
@using VHSMovies.Api.Integration.Main.Clients
@using VHSMovies.Api.Integration.Main.Responses

@inject ITitlesClient titlesClient
@inject HttpClient httpClient


@if (loading)
{
    <MudProgressCircular Color="Color.Info" Indeterminate="true" />
}
else
{
    <div class="movie-image d-flex justify-content-center">
        <MudImage Src="@blackWidowBackgroundImage" Alt="Mony the dog" Elevation="-1" Width="1449" Height="736" />
    </div>
    <div class="custom-line mb-12" style="height:2px;width:100%"></div>

    <div style="background-color: #1B0301;">
        <HomeTopics Titles="@mostRelevantTitles" TopicName="Most Relevant  Titles" />

        <HomeTopics Titles="@mostRelevantSciFiTitles" TopicName="Most Relevant Sci-Fi Titles" />

        <HomeTopics Titles="@mostRelevantActionTitles" TopicName="Most Relevant Titles" />
    </div>
}

<style>

    body {
    background-color: black;
    }

    .custom-line {
        top: 778px;
        gap: 0px;
        opacity: 0px;
        background-color: #D9D9D9;
    }
</style>

@code {
    string blackWidowBackgroundImage = "https://image.tmdb.org/t/p/original/keIxh0wPr2Ymj0Btjh4gW7JJ89e.jpg";

    private IReadOnlyCollection<TitleResponse> mostRelevantTitles;
    private IReadOnlyCollection<TitleResponse> mostRelevantActionTitles;
    private IReadOnlyCollection<TitleResponse> mostRelevantSciFiTitles;

    int titleNumber = 0;

    private bool loading;

    protected override async Task OnInitializedAsync()
    {
        loading = true;

        mostRelevantActionTitles = await titlesClient.GetMostRelevantTitlesByGenre(28);
        mostRelevantSciFiTitles = await titlesClient.GetMostRelevantTitlesByGenre(878);
        mostRelevantTitles = await titlesClient.GetMostRelevantTitles(); 

        loading = false;
    }
}