@page "/"

@using MudBlazor
@using VHSMovies.Api.Integration.Main.Clients
@using VHSMovies.Api.Integration.Main.Responses
@using VHSMovies.Website.Components.Shared

@inject ITitlesClient titlesClient

@if (loading)
{
    <LoadingContainer />
}
else
{
    <MudContainer Class="position-relative">
        <HomeFeaturedMovie />
    </MudContainer>
    <MudDivider />

    <div class="pt-10 pl-6 pr-6">
        @* <HomeTopics Titles="@mostRelevantTitles" TopicName="Most Relevant Titles" /> *@

        <HomeTopics Titles="@mostRelevantSciFiTitles" TopicName="Most Relevant Sci-Fi Titles" />

        <HomeTopics Titles="@mostRelevantActionTitles" TopicName="Most Relevant Action Titles" />
    </div>

    <style>
        .pt-10 {
            position: relative;
            background-image: url('@(websiteDetails is not null ? websiteDetails.BackgroundImage : string.Empty)');
            background-size: cover;
            background-position: center;
            background-attachment: fixed;
        }
    </style>
}

@code {
    [CascadingParameter]
    protected WebsiteDetails? websiteDetails { get; set; }

    string blackWidowBackgroundImage = "https://s3-alpha-sig.figma.com/img/6115/1284/ab8e0632bc53aad0618e87caa55f64f8?Expires=1739145600&Key-Pair-Id=APKAQ4GOSFWCW27IBOMQ&Signature=ST0NtHWROGsrAPp6VMbYFHkp4L7BtQceZH4VIViJAnfuSzq61yrt0yMy8LlJMra-5L-qTQ58JbUQeKNNIk4gQdTw647WxJlkMJLWIqixZhAj7hcpTRm8mzQlvYmWO8WfehYH2n8Qjo8JbK7yl7NwLOsAOXzC6O~jcHcM1hmSSvSwEjcuPq0z1v6FACT0-tb7pfb4ubvG~cXdiVsWRisOJGPsM6PM3cH2hUBH6kF6pt4fVb1YNrCMZHS4-0HWXBMoJdcKNzzk7UwKUbLz5dKrMifzLyB5Gl6TzbwefrGS7dty6JXraFBwQmN7MnDwYpxqYDmBQZaJmrbZRscjgGXkBw__";

    private IReadOnlyCollection<TitleResponse> mostRelevantTitles;
    private IReadOnlyCollection<TitleResponse> mostRelevantActionTitles;
    private IReadOnlyCollection<TitleResponse> mostRelevantSciFiTitles;

    int titleNumber = 0;

    private bool loading;

    protected override async Task OnInitializedAsync()
    {
        loading = true;

        int rankPosition = 1;

        mostRelevantActionTitles = await titlesClient.GetMostRelevantTitlesByGenre("action");

        mostRelevantSciFiTitles = await titlesClient.GetMostRelevantTitlesByGenre("science fiction");

        /*
        mostRelevantTitles = await titlesClient.GetMostRelevantTitles();
        mostRelevantTitles = InsertTitleResponseRankPosition(mostRelevantTitles);
        */

        loading = false;
    }
}