@using VHSMovies.Api.Integration.Main.Responses
@using VHSMovies.Website.Components.Shared

<div class="movie-image d-flex justify-content-center">
    <MudImage Src="@Src" Alt="Black Widow" Elevation="-1" Width="1449" Height="736" />

    <div class="movie-content d-flex flex-column align-items-start text-white p-4 ml-20 mb-1 position-absolute top-200 start-0 d-flex justify-content-center">
        <MudImage Src="images/black-widow-movie-name.png" Alt="Black Widow" Elevation="-1" Width="605" Height="97" />

        <div class="my-4 ml-4">
            <ProductRating Size="Size.Medium" RatingValue="@Title.AverageRating" />
        </div>

        <div class="d-flex genres">
            @foreach (GenreResponse genre in Title.Genres)
            {
                <MudChip Color="Color.Default" T="string">@genre.Name</MudChip>

                <div class="mt-2 border-start border-light" style="height: 24px;"></div>
            }
        </div>

        <p class="mt-3 black-widow-description" style="max-width: 451px;">
            @Title.Description
        </p>
    </div>
</div>

@code {
    [Parameter]
    public string Src { get; set; }

    [Parameter]
    public TitleResponse Title { get; set; }
}
