@using VHSMovies.Api.Integration.Main.Responses

<MudCarousel TData="TitleResponse">
    @foreach(TitleResponse title in Titles )
    {
        <MudCarouselItem Color="@Color.Secondary">
            <div class="d-flex" style="height:100%">
                <MudIcon Class="mx-auto my-auto" Icon="@Icons.Custom.Brands.MudBlazor" Size="@Size.Large" />
            </div>
        </MudCarouselItem>
    }
</MudCarousel>

@code {
    [Parameter]
    public IReadOnlyCollection<TitleResponse> Titles { get; set; }
}
