a.showCast {
    text-align: right;
}

.movie-detail ::deep h3 {
    font-size: 1rem;
    font-weight: 600;
    color: #6c757d;
    margin-bottom: 0.4rem;
}

.movie-detail ::deep p {
    margin: 0;
    font-weight: 500;
    color: #212529;
}

.movie-detail ::deep img {
    padding: 10px;
}

.poster ::deep img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.poster {
    width: 300px;
    height: 450px;
    border-radius: 1.6rem;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    flex-shrink: 0;
}

.movie-details-sections {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}

@media (max-width: 576px) {
    .movie-details-sections {
        grid-template-columns: 1fr;
    }
}

@media (max-width: 992px) {
    .movie-layout {
        flex-direction: column !important;
        align-items: center !important;
    }

    .movie-layout .poster {
        margin-bottom: 2rem;
        max-width: 400px;
        width: 300px !important;
        height: 450px !important;
    }

    .movie-layout .content {
        min-width: 100% !important;
        max-width: 100% !important;
    }

    .header-container {
        flex-wrap: wrap;
    }

    .main-nav {
        order: 3;
        width: 100%;
        margin-top: var(1.6rem);
    }

    .main-nav ul {
        justify-content: center;
    }

    .movie-hero {
        height: 50vh;
    }

    .movie-hero h1 {
        font-size: 3.8rem;
    }

    .movie-details-grid {
        grid-template-columns: 1fr;
        gap: var(3.2rem);
    }

    .movie-poster-large {
        max-width: 40rem;
        margin: 0 auto;
    }
}