################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/VHSMovies
/VHSMovies.Mediator/obj
/.vs/ProjectEvaluation
/.vs
/VHSMovies.Tests/bin/
/VHSMovies.Tests/obj/
/VHSMovies.Tests.Website/bin/
/VHSMovies.Tests.Website/obj/
**/bin
**/obj