################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/VHSMovies
/VHSMovies.Mediator/obj
/.vs/ProjectEvaluation
