################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/VHSMovies
/VHSMovies.Api/obj
/.vs
/VHSMovies.DataReader/bin/Debug/net9.0
/VHSMovies.DataReader/obj
/VHSMovies.Data/obj
/VHSMovies.Application/obj
