::deep .most-relevant-titles {
    position: relative;
    z-index: 2;
    color: var(--mud-palette-text-secondary) !important;
}

::deep .see-all {
    font-family: Berlin Sans FB;
    font-size: 24px;
    font-weight: 400;
    line-height: 22px;
    text-align: right;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    white-space: nowrap;
}

::deep .most-relevant-titles {
    font-family: Berlin Sans FB;
    font-size: 24px;
    font-weight: 400;
    line-height: 22px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}