<footer class="footer d-flex">
    <div class="footer-content justify-content-center align-items-center">
        <span class="footer-text">
            <MudText Typo="Typo.h6" Class="footer-text mb-n20">
                <span class="footer-item vhs-movies">VHS Movies © 2024-2025</span>
                <span class="footer-item">Blog</span>
                <span class="footer-item">Contact</span>
                <span class="footer-item">Browse Movies</span>
                <span class="footer-item">Requests</span>
                <span class="footer-item">Login</span>
                <span class="footer-item">Language</span>
            </MudText>
        </span>
        <MudImage Class="mb-n4 mt-n2" Src="images/vhs-logo.png" Height="100" Width="85" Alt="VHS Movies" Elevation="-1" />
    </div>
</footer>
