<footer>
    <MudContainer Class="container">
        <div class="footer-content d-grid">
            <div class="footer-logo d-flex flex-column">
                <i class="fas fa-film"></i>
                <h2>VHSMovies</h2>
                <p>Your ultimate movie recommendation platform</p>
            </div>
            <div class="footer-links">
                <h3>Quick Links</h3>
                <ul>
                    <li><a href="index.html">Home</a></li>
                    <li><a href="#">Movies</a></li>
                    <li><a href="#">Genres</a></li>
                    <li><a href="recommendation.html">Get Recommendations</a></li>
                    <li><a href="#">About Us</a></li>
                    <li><a href="#">Contact</a></li>
                </ul>
            </div>
        </div>
        <div class="footer-bottom">
            <p>&copy; 2025 MovieFlix. All rights reserved.</p>
        </div>
    </MudContainer>
</footer>