<footer class="footer d-flex">
    <div class="footer-content justify-content-center align-items-center">
        <span class="footer-text">
            <MudText Typo="Typo.h6" Class="footer-text">
                <span class="vhs-movies">VHS Movies © 2024-2025</span>
                <a href="https://www.github.com/victorhenriquesilva07" target="_blank" class="footer-item">
                    GitHub
                </a>
                <a href="https://www.linkedin.com/in/victorhenriquesilvagalvao" target="_blank" class="footer-item">
                    LinkedIn
                </a>
                <a href="mailto:henrictor@hotmail.com" class="footer-item">henrictor@hotmail.com</a>
            </MudText>
        </span>
        <MudImage Class="" Src="images/vhs-logo.png" Height="100" Width="85" Alt="VHS Movies" Elevation="-1" />
    </div>
</footer>

@code {
}