@using MudBlazor

@inherits LayoutComponentBase

<MudThemeProvider Theme="_currentTheme" />
<MudPopoverProvider />


<MudLayout>
    <NavMenu />
    <div class="custom-line align-content-center justify-content-center" style="height:2px;width:100%;"></div>
    <MudContainer MaxWidth="MaxWidth.ExtraLarge" Gutters="false">
        @Body
    </MudContainer>
</MudLayout>

<style>
    body {
        background-color: black;
    }
</style>

@code {
    private readonly MudTheme _currentTheme = new()
        {
            PaletteLight = new PaletteLight
            {
                Primary = "#190401",
                Secondary = "#4CAF50",
                Info = "#64a7e2",
                Success = "#2ECC40",
                Warning = "#FFC107",
                Error = "#FF0000",
                AppbarBackground = "#212121",
                TextPrimary = "#0A7BCF",
                TextSecondary = "#4CAF50",
            },
            Typography = new Typography()
            {
                Default = new DefaultTypography()
                {
                    FontFamily = new[] { "Poppins", "Helvetica", "Arial", "sans-serif", "Hubballi", "IBM Plex Sans", "Berlin Sans FB" }
                }
            }
        };
}
