@using MudBlazor

@inherits LayoutComponentBase

<MudThemeProvider Theme="_currentTheme" />
<MudPopoverProvider />


<MudLayout Class="layout-container">
    <NavMenu />
    <div class="custom-line align-content-center justify-content-center" style="height:2px;width:100%;"></div>
    <MudContainer Class="content-container" MaxWidth="MaxWidth.Large" Gutters="false">
        @Body
    </MudContainer>
    <div class="custom-line align-content-center justify-content-center" style="height:2px;width:100%;"></div>
    <Footer />
</MudLayout>

<style>
    body {
        background-color: black;
    }

    .mud-container-maxwidth-lg {
        max-width: 1600px !important;
    }

    .layout-container {
        display: flex;
        flex-direction: column;
        min-height: 100vh; /* Faz com que o layout ocupe a tela toda */
    }

    .content-container {
        flex-grow: 1; /* Ocupa o espaço restante, mas não empurra o Footer para fora */
        display: flex;
        flex-direction: column;
    }
</style>

@code {
    private readonly MudTheme _currentTheme = new()
        {
            PaletteLight = new PaletteLight
            {
                Primary = "#190401",
                Secondary = "#A70100",
                Info = "#64a7e2",
                Success = "#2ECC40",
                Warning = "#FFC107",
                Error = "#FF0000",
                AppbarBackground = "#212121",
                TextPrimary = "#0A7BCF",
                TextSecondary = "#4CAF50",
            },
            Typography = new Typography()
            {
                Default = new DefaultTypography()
                {
                    FontFamily = new[] { "Poppins", "Helvetica", "Arial", "sans-serif", "Hubballi", "IBM Plex Sans", "Berlin Sans FB", "ABeeZee" }
                }
            }
        };
}
