<MudAppBar Color="Color.Primary" Fixed="false" Style="height: 45px;" Class="relative d-flex justify-space-between align-items-center">
    <div class="d-flex align-center mb-5">
        <MudNavLink Href="/">Home</MudNavLink>
        <MudNavLink Href="/recommendations">Recommendations</MudNavLink>
    </div>

    <div class="d-flex justify-content-center align-items-center mb-5">
        <MudImage Src="images/vhs-logo.png" Height="78" Width="55" Alt="Mony the dog" Elevation="-1" />
    </div>

    <div class="d-flex align-center mb-5">
        <MudNavLink Href="/genres">Genres</MudNavLink>
        <MudNavLink Href="/movies">Movies</MudNavLink>
    </div>
</MudAppBar>
<MudDivider />