<div style="min-height:50vh;width:100%;" class="align-items-center justify-content-center d-flex">
    <MudProgressCircular Color="@Color" Indeterminate="true" />
</div>

@code {

    [Parameter]
    public Color Color { get; set; }
}
