<div style="display: inline-block; width: 95%; position: relative; margin-left: 30px;" class="mb-10">
    <div style="display: flex; justify-content: space-between; align-items: center;">
        <MudText Typo="Typo.h6" Class="most-relevant-titles" Style="text-align: left;">@TopicName</MudText>

        @if (ChildContent != null)
        {
            @ChildContent
        }
    </div>

    <div class="custom-line align-content-center justify-content-center" style="height:2px;width:100%;z-index:4;"></div>
</div>

@code {
    [Parameter]
    public string TopicName { get; set; }

    [Parameter]
    public RenderFragment? ChildContent { get; set; }
}