footer {
    background-color: var(--secondary-color);
    color: white;
    padding: 3rem 0 1rem;
}

.footer-content {
    justify-items: center;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 2rem;
    margin-bottom: 2rem;
}

.footer-logo {
    gap: 0.5rem;
}

    .footer-logo i {
        font-size: 2rem;
        color: var(--primary-color);
    }

    .footer-logo h2 {
        font-size: 1.5rem;
    }

    .footer-logo p {
        font-size: 0.9rem;
        color: #bbb;
    }

.footer-links h3, .footer-newsletter h3 {
    margin-bottom: 1rem;
    font-size: 1.2rem;
}

.footer-links ul {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.footer-links a {
    color: #bbb;
    transition: var(--transition);
}

    .footer-links a:hover {
        color: white;
    }

.footer-newsletter p {
    margin-bottom: 1rem;
    font-size: 0.9rem;
    color: #bbb;
}

.footer-newsletter form {
    display: flex;
}

.footer-newsletter input {
    flex: 1;
    padding: 0.8rem;
    border: none;
    border-radius: 4px 0 0 4px;
}

.footer-newsletter button {
    background-color: var(--primary-color);
    color: white;
    border: none;
    padding: 0 1rem;
    border-radius: 0 4px 4px 0;
    cursor: pointer;
    transition: var(--transition);
}

    .footer-newsletter button:hover {
        background-color: #c50812;
    }

.footer-bottom {
    text-align: center;
    padding-top: 2rem;
    border-top: 1px solid #333;
    font-size: 0.9rem;
    color: #999;
}
